@font-face {
    font-family: 'HMP';
    src: url("hiragino-maru-gothic-pron-w4.otf") format("truetype");
}

html{
    background-color:rgb(255, 255, 255);
}
body::-webkit-scrollbar {
    display: none;
  }
body{
    font-family: 'HMP';
    font-weight: 400;
    font-style: normal;
    font-size: .8em;
    line-height: 1.4em; 
    overscroll-behavior-x: none;
    margin: 0%;
    padding: 0%;
    z-index: 0;
}
.dissapear{
    color: transparent;
}
.dissapear:hover{
    color: white;
    transition: .2s;
}

p{
    color: rgb(255, 255, 255);
    mix-blend-mode: exclusion;
} 
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    mix-blend-mode: exclusion;
}
.nav{
    bottom: 1%;
    padding-bottom: 0%;
    padding-left: 2%;
    position: fixed;
    width: 100vw;
    height: 1vh;
    mix-blend-mode: exclusion;
    color: rgb(255, 255, 255);
    z-index: 3;
    overscroll-behavior-x: none;
}
.nav2{
    top: 0%;
    padding-bottom: 1%;
    right: 0%;
    padding-right: 2%;
    text-align: right;
    position: fixed;
    width: 50vw;
    height: 1vh;
    mix-blend-mode: exclusion;
    color: rgb(255, 255, 255);
    z-index: 3;
    overscroll-behavior-x: none;
}
.nav3{
    top: 0%;
    padding-bottom: 1%;
    padding-left: 2%;
    position: fixed;
    width: 50vw;
    height: 1vh;
    z-index: 3;
    overscroll-behavior-x: none;
}
.nav4{
    top: 40%;
    padding-bottom: 1%;
    padding-left: 2%;
    position: fixed;
    width: 50vw;
    height: 1vh;
    z-index: 3;
    overscroll-behavior-x: none;
}
.margin-top{
    margin-top: 80px;
}
.project{
    display: flex;
    flex-direction: row;
}
img.passeport{
    width: 150px;
    height:auto;
    padding-left: 1%;
    
}
.en{
    padding-left: 2%;
    padding-right: 1%;
    width: 50vw;
    /* text-align-last: right; */
}
.info{
    padding-left: 1%;
}

/* home selects */

.home_imgs{
    width: auto;
    margin-top: 0vh;
    height: 100vh;
    display: flex;
    padding-left: 0vw;
}
.home_container{
    width: auto;
    margin-top: 0vh;
    height: 100vh;
    display: flex;
    padding-left: 0vw;
}

/* are.na channels for individual pages */

  .arenaimgs{
         width: auto;
         margin-top: 0vh;
         height: 100vh;
         display: flex;
         padding-left: 0vw;
  }
  #parent{
          margin-block-start: 0em;
          margin-block-end: 0em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 0px;
          padding-inline-end: 0px;
          scroll-padding-inline-end: 0px;
   }
  ul {
          list-style-type: none;
          width: auto;
          height: fit-content;
          margin-block-start: 0em;
          margin-block-end: 0em;
          margin-inline-start: 0vw;
          margin-inline-end: 0px;
          padding-inline-start: 0px;
          padding-inline-end: 0px;
          scroll-padding-inline-end: 0px;
          display: flex;
        
          
      }
      .img_container{
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        scroll-padding-inline-end: 0px;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
      }
  
      #image-block {
        
        background-color: none;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
      }
 
      iframe{
        width: 100vw;
        height: 40vh;
        z-index: 3;
      }
      iframe.web{
        height: 80vh;
        margin-left: 1%;
        width: 78vw;
        background-color: white;
        border-radius: 10px;
      }

      @media only screen and (max-width: 780px) {
        .nav{
            width: 100vw;
            padding-left: 2%;
        }
        .arenaimgs{
            width: auto;
            margin-top: 5vh;
            height: 90vh;
            margin-bottom: 5vh;
            display: flex;
            padding-left: 1vw;
     }
        iframe.video{
            height: 100vh;
            width: auto;
        }
        iframe{
            width: 98vw;
            margin: 1%;
            height: 40vh;
            z-index: 3;
          }
        iframe.web{
            height: 80vh;
            margin-left: 2%;
            width: 96vw;
            background-color: white;
            border-radius: 10px;
        }
        .margin-top{
            margin-top: 80px;
        }
        .info{
            padding-left: 2%;
        }
        img.passeport{
            width: 130px;
            height:auto;
            padding-left: 2%;
        }
        .highlight.fr{
            margin-bottom: 0%;
            margin-top: 0%;
        }
        .highlight.en{
            margin-bottom: 0%;
        }
        
        .dissapear{
            color: white;
        }
      }

   

    
  
